<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Bank Transactions from CSV</title>
    {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
    <style>
        th{
            text-align: left;
        }

        table {
            width: 80%;
            border-collapse: collapse;
        }

        .styled-table {
            border-collapse: collapse;
            margin: 25px 0;
            font-size: 0.9em;
            font-family: sans-serif;
            min-width: 400px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        }

        .styled-table thead tr {
            background-color: #F8F9F9;
            color: #000000;
            text-align: left;
        }
        .styled-table th,
        .styled-table td {
            padding: 12px 15px;
        }
        .styled-table tbody tr {
            border-bottom: 1px solid #dddddd;
        }

        .styled-table tbody tr:nth-of-type(even) {
            background-color: #f3f3f3;
        }

        .styled-table tbody tr:last-of-type {
            border-bottom: 2px solid #F8F9F9;
        }
        .styled-table tbody tr.active-row {
            font-weight: bold;
            color: #F8F9F9;
        }
    </style>

    {% block javascripts %}
        {#{{ encore_entry_script_tags('app') }}#}
    {% endblock %}
</head>
<body>
{% block body %}
    {{ include('pages/bank-transactions.html.twig') }}
{% endblock %}
</body>
</html>
